<template name="navBar">
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        
        {{#if currentUser}} 
        <ul id="nav-mobile" class="center-align">
          
          <li><a href="/playlist">Playlist</a></li>
          <li><a href="/">Mis Canciones</a></li>
        </ul>
          {{else}}  
        
        <ul id="nav-mobile" class="right-align">
          <li><a href="/playlist">Playlist</a></li>
          <li>{{>loginButtons}}</li>  
        </ul>
        {{/if}} 
        
        
       
      </div>
    </nav>
  </div>
</template>