
.score {
  margin-top: 1rem;
  font-size: 2.5rem;
}

.selected {
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
  background-color: #F7E4E5;
}
.card-content { padding-top:0!important; }



.card {
  position: relative;
}

.card-title {
  position: absolute!important;
  top: 0;
  left: 5px!important;
  padding: 0!important;
  font-size: 1.1rem!important;
  text-shadow: 1px 1px 6px #111;
}

.card.u-songs .status{
  position: absolute;
  bottom: 10px;
}

.admin-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.title {
  font-weight: 600;
  font-size: 14px;
}
.admin-img { height: 122px; }

.disabled { display: none; }

#login-buttons .login-buttons-with-only-one-button .login-button {
  margin-right: 2rem;
}

@media (max-width: 600px){
  .card.playlist {
    height: 24.4rem;
  }
  
  .u-songs.title {
    margin-top: 0;
  }
  .u-songs .status{
    bottom: 0;
  }
}

@media (min-width: 601px){
  .card.u-songs {
    height: 26.2rem;
  }
}

@media (min-width: 601px) and (max-width: 991px) {
  .card.playlist { height: 25rem; }
  .btn-vote{ margin-top: -6px; }
}

@media (min-width: 992px) {
  .card.playlist { height: 22rem; }
}
/*
@media (min-width: 992px){
 
  .card { height: 26rem; }
  
}*/

