<template name="userSongs">

  <div class="song-form {{disableForm}}">
    {{> addSongForm }}
  </div>
  
  Canciones restantes: {{counter }}
  
  <hr>
  
  <div class="song-list">
    <h2>Canciones enviadas</h2>
    {{#each songs}}
    <div class="row song">
        
      <div class="col-md-4">
        <iframe type="text/html" width="300" height="180" src="http://www.youtube.com/embed/{{video_id}}" frameborder="0"></iframe>
          
      </div>
           
      <h5>{{createdBy.profile.name}}</h5>
      <div class="col-md-8">  
        <h4>{{comment}}</h4>
        <h3>Status: {{status}}</h3>
      </div>
    </div>
    {{/each}}
  </div>

  
</template>