<template name="adminSongs">
  
  <div>
    {{#each adminSongs}}
      <div class="row">
        <div class="">
          <h4 class="panel-title">{{title}}</h4>
        </div>
        <div class="">
          <h5>Enviado por: {{createdBy.profile.name}}</h5>
          <!--<iframe type="text/html" width="300" height="180" src="http://www.youtube.com/embed/{{video_id}}?controls=0" frameborder="0"></iframe>-->
          <img class="img-responsive" src="http://img.youtube.com/vi/{{video_id}}/mqdefault.jpg"/>
        
        </div>
        <div class="">
          <form>
            <div class="">
              <h4><a href="https://www.youtube.com/watch?v={{video_id}}" target="_blank">Ver en YouTube</a></h4>
              <input type="text" class="" name="comment" placeholder="comentario" />
              Aprobar: <!--<input type="checkbox" checked="{{approved}}" class="toggle-checked" />-->
              <!--<input type="text" class="form-control" name="status" placeholder="status" />-->
              <select class="status">
                
                <option>Aprobado</option>
                <option>Rechazado</option>
              </select>
            </div>
            <input type="submit" class="" value="enviar"/>
          </form>
        </div>
      </div>
    {{/each}}
  </div>
</template>
