<template name="adminSongs">
  <div>
    <div class="row">
      {{#each adminSongs}}
      <div class="col m3 card {{selectedClass}}">
        <div class="card-heading">
        </div>
        <div class="card-image">
          <img class="img-responsive thumb admin-img" src="http://img.youtube.com/vi/{{video_id}}/mqdefault.jpg"/>
        </div>
        <div class="card-content">
          <form>
            <div class="">
              <h6 class="title">{{title}} <a href="https://www.youtube.com/watch?v={{video_id}}" target="_blank"><i class="icon tiny mdi-action-visibility"></i></a></h6>
              <p><span class="title">{{createdBy.profile.name}}</span></p>
              
              <!--<textarea id="textarea1" name="comment" class="materialize-textarea" placeholder="comentario"></textarea>-->
              
              <div class="row">
                <div class="input-field">
                  <input type="text" class="" name="comment" placeholder="comentario" />
                </div>
                <div class="input-field">
                  <select class="status center-align">
                    <option value="Aprobado">Aprobado</option>
                    <option value="Rechazado">Rechazado</option>
                  </select>
                </div>
                
              </div>
            </div>
            <div class="card-action valign-wrapper">
              <button type="button" class="remove btn btn-success btn-lg valign">Borrar</button>
              <input type="submit" class="send btn btn-success btn-lg valign" value="enviar"/>
            </div>
          </form>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</template>