<template name="playList">
  
  <h3>Now Playing:</h3>
  <div class="row">
    {{#each playList}}    
      
      <div class="col s12 m4 l3 card z-depth-1 {{selectedClass}}">
        <div class="card-heading">
          <h3 class="right-align score">27</h3>
        </div>
        <div class="card-image">
          <img class="img-responsive thumb" src="http://img.youtube.com/vi/{{video_id}}/mqdefault.jpg"/>
          <span class="card-title">{{createdBy.profile.name}}</span>
        </div>
        <!--<span>27</span>-->          
        <div class="card-content">
          <h6><span class="">{{title}}</span></h6>
        </div> 
        <div class="card-action valign-wrapper">
          {{#if currentUser}}
          <button class="btn btn-success btn-lg valign" type="submit">Votar</button>
            {{else}}
          <h5>Debes loguearte para Votar!</h5>
          {{/if}}
        </div>
      </div>
      
    {{/each}}
   </div>
</template>
