<template name="playList">
  
  <h3>Now Playing:</h3>
  
    {{#each playList}}
      <div class="col-md-4 col-sm-6">
        <div class="song panel panel-default">
          <div class="panel-heading">
            <h4 class="title">{{title}}</h4>
            <span class="pull-right">27</span>
          </div>
          
          <div class="panel-body">
            <div class="">
              <img class="img-responsive thumb" src="http://img.youtube.com/vi/{{video_id}}/mqdefault.jpg"/>
            </div>

            <div class="description">  
             
            </div>
          </div>
          <div class="panel-footer">
            <h5>Envía: <span class="username">{{createdBy.profile.name}}</span></h5>
            <button class="btn btn-success btn-lg" type="submit">Votar</button>
          </div>  

        </div>
      </div>
    {{/each}}
</template>